extends layout/default.pug

block title
  title tzekid | Ilie Ploscaru

block default
  .container
    h1.logo.quando.red <{ tzekid }>
    p.josefin #[span.small Hey & what's up?] #[span.big I'm Ilie Ploscaru], a #[span.big problem solver] and CS student in Germany
    p.josefin I usualy #[a(href="https://github.com/tzekid") code], sometimes #[a(href="./articles/index.html") write], and other times just #[a(href="#") day-dream]
    p.josefin I'm available for #[a(href="./showcase/index.html") hire] and always happy to #[a.typeform-share.link(href='https://tzekid.typeform.com/to/vNJZ0b', data-mode='popup', data-hide-headers='true', data-hide-footer='true', target='_blank') chat] 
    script.
      (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
